@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300&display=swap');


body{
    font-family: 'Roboto', sans-serif;
}

#editable{
    width: 100%;
    padding: 10px;
    height: 320px;
    margin: 10px;
    flex: 1;
    caret-color: red;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 300;
    word-spacing: 5px;
}

.container{
    height: 100%;
    display: flex;
}

.position{
    padding: 10px;
    font-size: 1.5em;
    margin: 0;
}

.form-container{
  padding: 10px;
}

.form-container input, select{
  outline: none;
  padding: 3px;
}

.form-container button{
  outline: none;
  border: none;
  background-color: green;
  color: white;
  cursor: pointer;
  padding: 7px 15px;
}

.added{
  width: fit-content;
  margin: 0 5px 0 5px;
}
.added-container{
  display: flex;
}

.cursor-handlers{
  display: flex;
  margin-left: 30px;
}

.cursor-handlers button{
  height: 30px;
  margin: auto 15px auto 50px;
  outline: none;
  border: none;
  padding: 4px 10px;
  background-color: grey;
  color: white;
  cursor: pointer;
}

.generate-button{
  margin: 20px;
}

.filled-tags-container{
  max-height: 200px;
  overflow: scroll;
}